.SosialMedia {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 48px;
}

.WrapperSosMed {
  display: inline-flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
}

.LinkSos:hover {
  background-color: #e14e1f;
  border-radius: 10%;
}

.LinkSosFacebook:hover {
  background-color: #e14e1f;
  border-radius: 50%;
}

.LinkSosGithub:hover {
  background-color: #e14e1f;
  border-radius: 50%;
}

.LinkSosIG:hover {
  background-color: #e14e1f;
  border-radius: 30%;
}

@media only screen and (max-width: 900px) {
  .SosialMedia {
    bottom: 1em;
    top: auto;
    left: 40%;
    transform: translateX(-50%);
  }
  .WrapperSosMed {
    display: inline-flex;
    flex-direction: row;
    column-gap: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .SosialMedia {
    left: 30%;
    transform: translateX(-50%);
  }
}
